<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="inner-container">
            <h6>@conorosullyDS09d890uoh</h6>
            <div class="inner-inner">
                <h1 class="title">Random Forest</h1>
                <img src="../../img/3d-modeling.png" alt="">
                <p>
                    A statistical way of comparing two (or more) techniques, typically an incumbent against a new rival. A/B testing aims to determine not only which technique performs better but also to understand whether the difference is statistically significant. 
                </p>
            </div>
            <h5>Source: springboard.com/blog/data-science-terms/whgjgghkkg</h5>
        </div>
    </div>
</body>
</html>