<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.1">
    <link rel="stylesheet" href="tmp.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div id="inner-container">
            <h6>{{ html_config.handle }}</h6>
            <div class="inner-inner">
                <h1 class="title">{{ html_config.title }}</h1>
                <img src="{{ html_config.image }}" alt="">
                <p>
                    {{ html_config.paragraph }} 
                </p>
            </div>
            <h5>{{ html_config.source }}</h5>
        </div>
    </div>
</body>
</html>