body {
    padding: 0;
    margin: 0;
    background-color: white;
    display: block;
    width: 500px;
}

.container {
    border: 2px solid rgba(0, 0, 0, 1.0);
    width: 1036px;
    height: 1024px;
    text-align: center;
    background-color: white;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: url( {{ css_config.outer_image }} ) center fixed;

}

#inner-container {
    border: 4px solid {{ css_config.border_colour }};
    background-color: white;
    width: 800px;
    height: 800px;
    margin: auto auto;
    position: relative;
    top: 10%;
    background: url( {{ css_config.inner_image }} ) center fixed;
}

.title {
    color: {{ css_config.title_colour }};
    font-size: {{ css_config.title_size }}px;
}

p {
    color: {{ css_config.text_colour }};
    font-size: {{ css_config.text_size }}px;
    padding: 0 100px;
}

h6 {
    /* display: block;
    float: right; */
    position: relative;
    top: -80px;
    font-size: 20px;
    text-align: right;
    color: #696b6e;
    /* position: absolute;
    margin-top: -100px;
    margin-left: -100px; */
}

.inner-inner {
    position: relative;
    top: -80px;
}

h5 {
    text-align: left;
    font-size: 19px;
    position: relative;
    top: 40px;
    color: #696b6e;
}

img {
{% if css_config.image == None %}
    display: none;
{% else %}
    width: 250px;
    height: 250px;
    float: {{css_config.image.position}};
    margin-{{css_config.image.position}}: 20px;
    margin-top: 20px;
{% endif %}
}