body {
    padding: 0;
    margin: 0;
    /* background-color: white; */
    display: block;
    width: 500px;
}

.container {
    border: 2px solid rgba(0, 0, 0, 1.0);
    width: 1036px;
    height: 1024px;
    text-align: center;
    /* background-color: white; */
    margin: 0;
    padding: 0;
    display: inline-block;
    background-image: linear-gradient(to top left, #c9eef2, white);
    /* background: url("../../images/sitebgw3.jpg") center fixed; */
}

#inner-container {
    border: 4px solid #0097a7;
    background-color: white;
    width: 800px;
    height: 800px;
    margin: auto auto;
    position: relative;
    top: 10%;
    
    /* background: url("../../images/sitebgw3blur.jpg") center fixed; */
    
    /* background: rgba(0, 0, 0, 0.2); */
    
    /* background-image: url("../../images/profileimg.jpeg") center fixed; */
    /* -webkit-backdrop-filter: blur(10px); */
    /* backdrop-filter: blur(10px); */
    /* filter: blur(8px); */
    
    /* background-image: linear-gradient(to top left, #c9dddf, white); */
}

.title {
    color: #696b6e;
    font-size: 80px;
}

p.top-paragraph {
    color: #0097a7;
    font-size: 35px;
    padding: 0 100px;
    display: block;
    margin-bottom: 0;
}

p.bottom-paragraph {
    color: #0097a7;
    font-size: 35px;
    padding: 0 100px;
    margin-top: 0;
}

h6 {
    /* display: block;
    float: right; */
    position: relative;
    top: -80px;
    font-size: 20px;
    text-align: right;
    color: #696b6e;
    /* position: absolute;
    margin-top: -100px;
    margin-left: -100px; */
}

.inner-inner {
    position: relative;
    top: -80px;
}

h5 {
    text-align: left;
    font-size: 19px;
    position: relative;
    top: 40px;
    color: #696b6e;
}

img {
    width: 250px;
    height: 250px;
    float: right;
    margin-right: 20px;
    margin-top: 120px;
}